.greeting {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	margin-top: 20px;
}

#login-form input {
	padding-bottom: 7px;
	width: 360px;
	height: 40px;
	font-size: 40px;
}

#login-form button {
	border: none;
}
