#loading {
	background-color: black;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	animation: loading 1s ease-in-out forwards;
}

@keyframes loading {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
